@import "tailwindcss" source(none);
@source "./src/**/*.{rs}";
@plugin "@iconify/tailwind4";
@plugin "flyonui" {
    exclude: rootcolor;
}
@import "flyonui/src/vendor/apexcharts.css";

:root,
[data-theme] {
    background-color: var(--root-bg, var(--color-base-200));
    color: var(--color-base-content);
}
